.search-container{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.search-box{
    display: inline;
    margin: auto;
    padding: 7px;
    border-radius: 25px;
}

#sBox{
    border-radius: 30px;
    padding: 5px;
    border-color: black;
    color: cornsilk;
    background-color: rgb(153, 164, 214);
}

#sButton{
    border-radius: 30px;
    padding: 5px;
    border-color: black;
    color: cornsilk;
    background-color: rgb(153, 164, 214);
}